# Initialize Modules

In [34]:
from shapely import geometry
import geopandas as gpd
import pandas as pd
import os
import numpy as np
from tqdm.notebook import tqdm

# Make polygons out of coordinates given from csv file

In [35]:
coord_list = pd.read_csv("Coordinates-Binning3.csv") # read csv file that contains the enclosed coordinates 
def Coord_lister(Loc_Column):   # make a polygon out of the enclosed coordinates
    crs = {'init': 'epsg:4326'}
    x = Loc_Column.to_list()
    pointList = [item for item in x if str(item) != 'nan']
    pointL = []
    for x in tqdm(pointList):
        y = eval(x)
        pointL.append(y)
    poly = geometry.Polygon(pointL)
    spoly = gpd.GeoSeries([poly],crs=crs)
    return spoly

df_coordlist = pd.DataFrame(coord_list)
df_coordlist1 = list(df_coordlist.columns)
df_coordlist1.pop(0)
df_coordlist1

['HE shop', 'Crusher', 'Annex A', 'Carmen Pit']

In [36]:
Location_list = []
Location_list_names = df_coordlist1
for area_loc in tqdm(df_coordlist1):
    Location_list.append(Coord_lister(coord_list[area_loc]))

  0%|          | 0/4 [00:00<?, ?it/s]

  0%|          | 0/8 [00:00<?, ?it/s]

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

  0%|          | 0/6 [00:00<?, ?it/s]

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

  0%|          | 0/6 [00:00<?, ?it/s]

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

  0%|          | 0/10 [00:00<?, ?it/s]

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [37]:
file = '33854 Feb.csv'
crs = {'init': 'epsg:4326'}

#Create a geoseries holding the single polygon. Coordinates in counter-clockwise order
#pointList = [(10.325852, 123.726840), (10.331532, 123.718828), (10.337319, 123.724241), (10.341579, 123.727525), (10.340266, 123.732830), (10.333982, 123.733516)]

#Create geodataframe of points
dfcsv = pd.read_csv(file)
dfcsv

,Time,Latitude,Longitude,VehicleSpeed[km/h],Waiting Time
0,2023-02-04 23:00:46,10.336249,123.721581,0.0,1.0
1,2023-02-04 23:00:47,10.336246,123.721581,0.0,1.0
2,2023-02-04 23:00:48,10.336243,123.721581,0.0,1.0
3,2023-02-04 23:00:49,10.336239,123.721573,0.0,1.0
4,2023-02-04 23:00:50,10.336236,123.721573,0.0,1.0
...,...,...,...,...,...
568837,2023-02-12 00:21:32,10.323801,123.718292,3.6,0.0
568838,2023-02-12 00:21:33,10.323808,123.718285,3.0,0.0
568839,2023-02-12 00:21:34,10.323814,123.718285,2.6,0.0
568840,2023-02-12 00:21:35,10.323816,123.718277,2.9,0.0
568841,2023-02-12 00:21:36,10.323821,123.718277,4.0,0.0

In [38]:
geometry = [geometry.Point(xy) for xy in zip(dfcsv.Latitude, dfcsv.Longitude)]
dfpoints = gpd.GeoDataFrame(dfcsv, crs=crs, geometry=geometry)
dfpoints

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

,Time,Latitude,Longitude,VehicleSpeed[km/h],Waiting Time,geometry
0,2023-02-04 23:00:46,10.336249,123.721581,0.0,1.0,POINT (10.33625 123.72158)
1,2023-02-04 23:00:47,10.336246,123.721581,0.0,1.0,POINT (10.33625 123.72158)
2,2023-02-04 23:00:48,10.336243,123.721581,0.0,1.0,POINT (10.33624 123.72158)
3,2023-02-04 23:00:49,10.336239,123.721573,0.0,1.0,POINT (10.33624 123.72157)
4,2023-02-04 23:00:50,10.336236,123.721573,0.0,1.0,POINT (10.33624 123.72157)
...,...,...,...,...,...,...
568837,2023-02-12 00:21:32,10.323801,123.718292,3.6,0.0,POINT (10.32380 123.71829)
568838,2023-02-12 00:21:33,10.323808,123.718285,3.0,0.0,POINT (10.32381 123.71828)
568839,2023-02-12 00:21:34,10.323814,123.718285,2.6,0.0,POINT (10.32381 123.71828)
568840,2023-02-12 00:21:35,10.323816,123.718277,2.9,0.0,POINT (10.32382 123.71828)
568841,2023-02-12 00:21:36,10.323821,123.718277,4.0,0.0,POINT (10.32382 123.71828)

In [39]:
#Create a subset dataframe of points within the polygon
for x,y in tqdm(zip(Location_list, Location_list_names)):
    dfpoints.loc[dfpoints.within(x.geometry.iloc[0]), "Location"] = y
dfpoints

0it [00:00, ?it/s]

,Time,Latitude,Longitude,VehicleSpeed[km/h],Waiting Time,geometry,Location
0,2023-02-04 23:00:46,10.336249,123.721581,0.0,1.0,POINT (10.33625 123.72158),Crusher
1,2023-02-04 23:00:47,10.336246,123.721581,0.0,1.0,POINT (10.33625 123.72158),Crusher
2,2023-02-04 23:00:48,10.336243,123.721581,0.0,1.0,POINT (10.33624 123.72158),Crusher
3,2023-02-04 23:00:49,10.336239,123.721573,0.0,1.0,POINT (10.33624 123.72157),Crusher
4,2023-02-04 23:00:50,10.336236,123.721573,0.0,1.0,POINT (10.33624 123.72157),Crusher
...,...,...,...,...,...,...,...
568837,2023-02-12 00:21:32,10.323801,123.718292,3.6,0.0,POINT (10.32380 123.71829),NaN
568838,2023-02-12 00:21:33,10.323808,123.718285,3.0,0.0,POINT (10.32381 123.71828),NaN
568839,2023-02-12 00:21:34,10.323814,123.718285,2.6,0.0,POINT (10.32381 123.71828),NaN
568840,2023-02-12 00:21:35,10.323816,123.718277,2.9,0.0,POINT (10.32382 123.71828),NaN
568841,2023-02-12 00:21:36,10.323821,123.718277,4.0,0.0,POINT (10.32382 123.71828),NaN

In [40]:
dfpoints.pivot_table( index = "Location", aggfunc = "count") # Checker can be removed (Checks if the locations have content)

,Latitude,Longitude,Time,VehicleSpeed[km/h],Waiting Time,geometry
Location,,,,,,
Annex A,22117,22117,22117,22117,22117,22117
Carmen Pit,351115,351115,351115,351115,351115,351115
Crusher,27929,27929,27929,27929,27929,27929
HE shop,4763,4763,4763,4763,4763,4763

In [41]:
dfpoints.loc[dfpoints["Location"].isna(), "Location"] = "Others" #Add the others for locations outside the coordinates
dfpoints

,Time,Latitude,Longitude,VehicleSpeed[km/h],Waiting Time,geometry,Location
0,2023-02-04 23:00:46,10.336249,123.721581,0.0,1.0,POINT (10.33625 123.72158),Crusher
1,2023-02-04 23:00:47,10.336246,123.721581,0.0,1.0,POINT (10.33625 123.72158),Crusher
2,2023-02-04 23:00:48,10.336243,123.721581,0.0,1.0,POINT (10.33624 123.72158),Crusher
3,2023-02-04 23:00:49,10.336239,123.721573,0.0,1.0,POINT (10.33624 123.72157),Crusher
4,2023-02-04 23:00:50,10.336236,123.721573,0.0,1.0,POINT (10.33624 123.72157),Crusher
...,...,...,...,...,...,...,...
568837,2023-02-12 00:21:32,10.323801,123.718292,3.6,0.0,POINT (10.32380 123.71829),Others
568838,2023-02-12 00:21:33,10.323808,123.718285,3.0,0.0,POINT (10.32381 123.71828),Others
568839,2023-02-12 00:21:34,10.323814,123.718285,2.6,0.0,POINT (10.32381 123.71828),Others
568840,2023-02-12 00:21:35,10.323816,123.718277,2.9,0.0,POINT (10.32382 123.71828),Others
568841,2023-02-12 00:21:36,10.323821,123.718277,4.0,0.0,POINT (10.32382 123.71828),Others

In [42]:
pt = dfpoints.pivot_table( index = "Location", aggfunc= "count")  # Checker can be removed
pt

,Latitude,Longitude,Time,VehicleSpeed[km/h],Waiting Time,geometry
Location,,,,,,
Annex A,22117,22117,22117,22117,22117,22117
Carmen Pit,351115,351115,351115,351115,351115,351115
Crusher,27929,27929,27929,27929,27929,27929
HE shop,4763,4763,4763,4763,4763,4763
Others,162918,162918,162918,162918,162918,162918

In [43]:
print("Data Successfully Combined")
export_state = False
while not export_state:
    export_path = input("Please input export path directory \n")
    if os.path.exists(export_path) == False:
        print("Please input a correct file path")
    else:
        export_state = True
csv_fname = input("Please input filename")
export_fpath = export_path + "\\" + csv_fname + ".csv"
print(export_fpath)
dfpoints.to_csv(path_or_buf = export_fpath, index = False)

Data Successfully Combined

Please input export path directory
 C:\Users\User\Desktop\New folder (7)
Please input filename OK

C:\Users\User\Desktop\New folder (7)\OK.csv

In [7]:
dfpoints.drop_duplicates(keep = False)

,Time,Latitude,Longitude,VehicleSpeed[km/h],Waiting Time,geometry,Location
0,2023-02-04 23:00:46,10.336249,123.721581,0.0,1.0,POINT (10.33625 123.72158),Crusher
1,2023-02-04 23:00:47,10.336246,123.721581,0.0,1.0,POINT (10.33625 123.72158),Crusher
2,2023-02-04 23:00:48,10.336243,123.721581,0.0,1.0,POINT (10.33624 123.72158),Crusher
3,2023-02-04 23:00:49,10.336239,123.721573,0.0,1.0,POINT (10.33624 123.72157),Crusher
4,2023-02-04 23:00:50,10.336236,123.721573,0.0,1.0,POINT (10.33624 123.72157),Crusher
...,...,...,...,...,...,...,...
568837,2023-02-12 00:21:32,10.323801,123.718292,3.6,0.0,POINT (10.32380 123.71829),Others
568838,2023-02-12 00:21:33,10.323808,123.718285,3.0,0.0,POINT (10.32381 123.71828),Others
568839,2023-02-12 00:21:34,10.323814,123.718285,2.6,0.0,POINT (10.32381 123.71828),Others
568840,2023-02-12 00:21:35,10.323816,123.718277,2.9,0.0,POINT (10.32382 123.71828),Others
568841,2023-02-12 00:21:36,10.323821,123.718277,4.0,0.0,POINT (10.32382 123.71828),Others